@media (min-width:380px) and (max-width:780px){

.nav1 {
    padding: 33px 0px;
    position: fixed;
    z-index: 10;
    box-sizing: border-box;
    }	

#particles-js{
	background: url(./imagenes/versiculotres.jpg);
	background-position: center;
	background-attachment: contain;
	background-size: cover;
	width: 100%;
}

.zoomIn{
display: none;
}

.slideInUp{
	display: none;
}


.slider-1 img{
	width: 70%;
	height: 400px;
}


.letras-slider h1{
	font-size: 35px;
}

.sssprev {
	left: 4%;
	background-position: 0 50%;
}

.sssnext {
	right: 4%;
	background-position: -26px 50%;
}
.dos-columnas{
	width: 100%;
}
.formulario{
	width: 85%;
	margin: 0;
}
.formu-ti{
	width: 100%;
}
.caja-1{
	width: 100%;
}
.caja-2{
	width: 100%;
}
.datos{
	width: 100%;
	padding-bottom: 9px;
}


.map{
	width: 90%;
	margin-left: 5%;
}


}

